@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1E1E1E;   
}

button {
    background-color: rgb(47, 255, 109);
    padding: 10px 50px;
    border-radius: 11px;
}