@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1E1E1E;   
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 50px;
    flex-wrap: wrap;
}

.content {
    background-color: #202020;
    padding: 40px 50px;
    border-radius: 12px;
    width: 90%;
}

.content_erro{
    background-color: #473434;
    padding: 40px 50px;
    border-radius: 12px;
    width: 90%;
}

.content_form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.container_btn{
    display: flex;
    justify-content: flex-end
}

.btn{
    background-color: #36CE7C;
    padding: 10px 50px;
    border-radius: 12px;
    margin-top: 15px;
    border: transparent;
    cursor: pointer;
}

.btn_erro {
    background-color: rgba(54, 206, 125, 0.4);
    padding: 10px 50px;
    border-radius: 12px;
    margin-top: 15px;
    border: transparent;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}

.input {
    background: #353535;
    border: none;
    border-radius: 7px;
    padding: 10px 10px;
    width: 390px;
    outline: 0;
}

.input_error {
    background: #473434;
    border: 1px solid #FF7070;
    border-radius: 7px;
    padding: 10px 10px;
    width: 390px;
    outline: 0;
}

.container_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 40px 100px;
}

