* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  height: 1250px;
}

.caixa1 {
  background-color: #ffffff4f;
  box-shadow: 0px 10px 13px -7px #0000002c, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  height: 250px;
  width: 250px;
  display: inline-block;
}

.caixa-interna {
  box-shadow: 0px 10px 13px -7px #0000002c, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.caixa2 {
  background-color: #ffffff4f;
  box-shadow: 0px 10px 13px -7px #0000002c, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  height: 250px;
  width: 250px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}

.caixa3 {
  background-color: #ffffff4f;
  box-shadow: 0px 10px 13px -7px #0000007a, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  height: 250px;
  width: 250px;
  display: inline-block;
  position: fixed;
  bottom: 0;
  left: 42%;
}

.caixa3 .caixa-interna p {
  text-align: center;
}
