* {
    text-decoration: none;
}

.container-item {
    width: 250px;
    border: 1px solid #cacaca;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-item img {
    width: 150px;
    height: 150px;
}

.content {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}