@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@import url(./styles/button.css); // importando o botão de outro arquivo

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.main-content {
  background-color: lightskyblue;
  padding: 12px;

  img {
    width: 100%;
  }
  ul {
    background-color: white;
    list-style: none;
    li {
      display: flex;
      justify-content: center;
      a {
        text-decoration: none;
        font-size: 1.5rem;
        color: #333;
        font-weight: 500;
      }
    }
  }
}
