* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #eee;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagem {
  margin-top: 150px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

input {
  margin: 10px;
}

.enviar {
  margin: 10px;
  padding: 10px;
}

.resetar {
  padding: 10px;
}
