.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #fff;
  min-width: 500px;
  padding: 50px 30px;
  position: absolute;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: 1px solid #ebebeb;
  border-radius: 8px;
}

.card form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 15px;
}

.card h1 {
  text-align: center;
}

.card p {
  text-align: center;
  font-weight: 300;
  margin-bottom: 30px;
  margin: 30px auto;
}

.button {
  margin-top: 30px;
}
